DATABASE_URL=postgres://user:password@host:port/db_name

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

FIRST_SUPERADMIN_EMAIL=
FIRST_SUPERADMIN_FIRSTNAME=
FIRST_SUPERADMIN_PASSWORD=

BCRYPT_HASH_LENGTH=